*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* homepage */


.header{
    min-height:  100vh;
    width: 100%;
    background-image:linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.219)),url(./imagini/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

.logo{
    width: 30%;
    height: 60%;
    padding: 5%;
}
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.text-color:hover{
    color: #ff0000;
}

.nav-links li::after{
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: red;
    right: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
}


.nav-links li:hover::after,
.nav-links li:hover a::before{
    width: 13%;
    padding: 0px 15px 0px 0px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #82eefd;
    background: #82eefd;
    transition: 1s;
}


/* Despre */


.DESPRE{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.descriere{
    font-size: 1ch;
}

h1{
    font-size: 250%;
    padding: 20px;
}
h3{
    font-size: 150%;
    padding: 10px;
}
.despre-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    font-size: 120%;
}

.despre-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* Program */


h1{
    text-align: center;
}

.text-caz{
    color: black;
}

    .program-poza{
        margin: auto;
        display: block;
        width: auto;
        
    }
    .wrapper{
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    .content{
        white-space: nowrap;
        position: absolute;
        top: 45%;
        left: 50%;
        transform:  translate(-50%, -50%);
        -ms-transform: translate(-50% , -50%);
        color: rgb(0, 0, 0);
        font-size: 60px;
        overflow: hidden;
    }
    .content span{
        text-align: center;
        font-size: 24px;
        display: block;
    }

    .overlay{
        position: absolute;
        bottom: 100%;
        left: auto;
        right: auto;
        background-color: #fff3f3;
        width: 100%;
        height: 0%;
        transition: 0.5s ease;
        overflow: hidden;
    }
    
    .wrapper:hover .overlay{
        bottom: 0%;
        height: 100%;
    }

   
/* Galerie */


/* Caz Social */


/* Formular */


.FORMULAR1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.checkbox-uri{
    padding-bottom: 1%;

}

.textnr {
    width: 30px; 
    height: 13px;
}

.email {
    width: 250px;
}

.btnform{
    display: inline-block;
    text-decoration: none;
    color: #4d1f0e;
    border: 1px solid #4d1f0e;
    padding: 6px 20px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 6pc;
}

.btnform:hover{
    display: inline-block;
    text-decoration: none;
    color: #e9af9a;
    border: 1px solid #e9af9a;
    background-color:#4d1f0e ;
    padding: 6px 20px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 6pc;
}


/* Contact */


/* FAQ */


.mic{
    color: #ff0000;
 }

.text-faq{
    color: #000;
}

#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: #000;
}
h2{
    padding: 50px 0px 50px 0px;
}
p{
    padding: 0px 15px 0px 15px;
}

#container1 div{
    height: 370px;
    width: 335px;
    background-color: #fff3f3;
    margin: 60px;
    text-align: center;
    border-radius: 32px;
}
 


/* footer */


.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
}
.text{
    color: white;
}
.textfooter{
    color: #ff9e9e;
}